<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;"
                     :style="{width: playersHealth + '%'}">
                    {{ playersHealth }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center"
                     style="background-color: green; margin: 0; color: white;"
                     :style="{width: monstersHealth + '%'}">
                    {{ monstersHealth }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame()">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-if="gameIsRunning">
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack()" >SPECIAL ATTACK</button>
            <button id="heal" @click="heal()">HEAL</button>
            <button id="give-up" @click="giveUp()">GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul>
                <li v-for="hit in hits" class="{{ hit.class }}">
                    {{ hit.message }}
                </li>
            </ul>
        </div>
    </section>
</div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            playersHealth: 100,
            monstersHealth: 100,
            gameIsRunning: false,
            hits: [],
        },
        methods: {
            startGame: function () {
                this.gameIsRunning = true;
                this.hits = [];
                this.playersHealth = 100;
                this.monstersHealth = 100;
            },
            monsterAttacks: function () {
                this.playersHealth -= this.calculateDamage(5, 12);
                this.checkWin()
            },
            attack: function () {
                this.monstersHealth -= this.calculateDamage(3, 10);
                if (this.checkWin()) {
                    return;
                }
                ;
                this.monsterAttacks()

            },
            specialAttack: function () {
                this.monstersHealth -= this.calculateDamage(10, 20);
                if (this.checkWin()) {
                    return;
                }
                ;

                this.monsterAttacks()
            },
            heal: function(){
                if(this.playersHealth <= 90){
                    this.playersHealth += 10;
                }else {
                    this.playersHealth = 100;
                }
                this.monsterAttacks()
            },
            giveUp: function () {
                this.gameIsRunning = false;
            },
            calculateDamage: function (min, max) {
                return Math.max(Math.floor(Math.random() * max) + 1, min);
            },
            checkWin: function () {
                if (this.monstersHealth <= 0) {
                    if (confirm('You won! New game?')) {
                        this.startGame();
                    } else {
                        this.gameIsRunning = false
                    }
                    return true;
                } else if (this.playersHealth <= 0) {
                    if (confirm('You lost! New game?')) {
                        this.startGame();
                    } else {
                        this.gameIsRunning = false
                    }
                    return true;
                }
                ;
                return false;
            }
        }

    })
</script>
</html>